body{
    background: skyblue;
    font-family: arial, sans-serif;
}
td{
    border-right : 2px solid black;
}

td:nth-last-child(1){
    border-right : none;
}

tr{
    border-bottom : 2px solid black;
}

tr:nth-last-child(1){
    border-bottom : none;
}

.morpionButton{
    font-size : 1.5em;
    min-width: 50px;
    min-height: 50px;
    background-color: lightcyan;
    border : none;
}

#container {
    display: flex;
    justify-content: space-around;
}

#gameZone{
    display : none;
    padding : 2em;
    border-radius: 30px 100px;
    background-color: lightcyan;
    text-align: center;

}

#form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding : 1em;
}

h1{
    text-align: center;
    text-decoration: underline;
}

label{
    text-decoration: underline;
}

input:hover{
    background: deepskyblue;
    border-radius: 5px;
}